#videoElement {
    max-height: 400px;
    max-width: 500px;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
    background-color: #666;
    border: 5px #333 solid;
    margin-top: 20px;
}

#canvasElement {
    max-width:400px;
    max-height:375px;
    width:auto;
    height:auto;
    display: block;
    margin: 0 auto;
    background-color: #666;
}
