<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Virtual Assistant</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/bootstrap-dark.css">
		<link rel="stylesheet" href="/css/banner.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/video.css">
	</head>
	<body>
		<div class="row service-container">
			<div class="row header">
				<div class="container">
					<div class="col-md-1 col-sm-1 hidden-xs"><img src="/images/app.png" class="service-icon"></div>
					<div class="col-lg-10 col-md-10 col-sm-10 dialog-description">
						<h1 class="service-title">Assistant virtuel</h1>
						<p class="service-description">Démonstration de la Reconnaissance Faciale utilisant Microsoft Oxford Face and Emotion API</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row conversation-div">
			<div class="container">
				<div class="col-lg-8 col-md-8 col-xs-4" id="conversation-flow-container">
					<div class="conversation-flow-container clearfix">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="conversation-well conversation-container clearfix"></div>
						</div>
						<div class="dialogs-loading text-center"><img src="images/loading-indicator.svg" class="watson-loading-gif"></div>
						<div class="text-center dialogs-error">
							<div class="errorMsg"></div>
						</div>
						<div class="col-lg-8 col-md-8 col-xs-6 no-padding-right"><input id="response-input" type="text" placeholder="Tapez votre réponse" class="user-input form-control"></div>
						<div class="col-lg-2 col-md-2 col-xs-3 text-right no-padding-left no-padding-right"><button id="send-btn" class="input-btn btn btn-block">Envoyer</button></div>
						<div class="col-lg-2 col-md-2 col-xs-3 text-right no-padding-left"><button id="listen-btn" class="listen-btn btn btn-block">Ecouter</button></div>
					</div>
				</div>
				<div class="video col-lg-4 col-md-4 col-md-12">
					<video id="videoElement" autoplay style="width:100%;margin-top: 20px;"></video>
					<canvas id="canvasElement" style="display:none;"></canvas>
				</div>
			</div>
		</div>
		<audio class="audio"></audio>
		<script type="text/javascript" src="/javascript/jquery-1.11.1.min.js"></script><script type="text/javascript" src="/javascript/remote.js"></script>
	</body>
</html>