//- layout.jade
doctype html
html(lang='en')
  head
    block title
      title My Virtual Assistant
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    link(rel='stylesheet', href='/css/bootstrap-dark.css')
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/video.css')
    block extra-stylesheet

  body
    div.row.service-container
        div.row.header
          div.container
            div.col-md-1.col-sm-1.hidden-xs
              img.service-icon(src='/images/app.png')
            div.col-lg-10.col-md-10.col-sm-10.dialog-description
              h1.service-title Assistant virtuel
              p.service-description Démonstration de la Reconnaissance Faciale utilisant Microsoft Oxford Face and Emotion API
      block row-content
    audio.audio

    script(type='text/javascript', src='/javascript/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/javascript/remote.js')

  block extra-scripts
